In [1]:
import pandas as pd
import numpy as np

# Table of Contents

# References

move this later

1.  https://www.webmd.com/heart-disease/default.htm
2.  https://www.webmd.com/cholesterol-management/default.htm

# Background

Heart disease is "is the leading cause of death for men and women in the U.S."1  And, having high cholesterol is a major risk factor for heart disease.2  The goal of my project is to try to use NHANES survey data to predict total cholesterol level.  A model that predicts total cholesterol level from health information would be benificial to health apps.  If a fittness/health app can predict total cholesterol level, they can notify the user if their cholesterol level is high, promoting they see a doctor and hence reduce heart disease risk.

## note to self, may want to expand

# Data

The National Health and Nutrition Examination Survey is a yearly health exam and survey conducted by the CDC to gauge the overall health status of US citizens.  Each survey consists of multiple datasets in SAS format.

The datasets and variables I intend to use for modeling are...

The reasons for chosing these variables are...

## notes
later want to say you only used first day nutrition
may want to change variables to only include recreation info and say why you only used recreational activity info

In [2]:
# reading in the data
file_list = pd.read_csv('files.csv')
variables = pd.read_csv('variables.csv')
years = file_list.Year.unique()
dfs = [None]*2
for i in range(len(years)):
    files = file_list[file_list.Year == years[i]]
    first = files[files.Notes=="read in first"]
    first_path = list(first["Path"])[0]
    first_type = list(first["Dataset_Description"])[0]
    first_variables = list(variables[variables.Dataset_Description==first_type]["Variable_Name"])
    df = pd.read_sas(first_path)
    df = df[first_variables].copy()
    others = files[files.Notes!="read in first"]
    for other_path in others["Path"]:
        other_type = list(others[others["Path"]==other_path]["Dataset_Description"])[0]
        temp_df = pd.read_sas(other_path)
        other_variables = ["SEQN"] + list(variables[variables.Dataset_Description==other_type]["Variable_Name"])
        temp_df = temp_df[other_variables].copy()
        df = df.merge(temp_df, on="SEQN", how="left")
    df.drop("SEQN", axis=1, inplace=True)
    dfs[i] = df.copy()
df = pd.concat(dfs,ignore_index=True)
df.head()

c:\users\anned\appdata\local\programs\python\python39\lib\site-packages\pandas\io\sas\sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v

,LBXTC,PHAFSTHR,RIAGENDR,RIDRETH3,RIDAGEYR,BMXWT,BMXHT,BMXBMI,BPXSY1,BPXSY2,...,PAQ620,PAQ625,PAD630,PAQ650,PAQ655,PAD660,PAQ665,PAQ670,PAD675,KIQ022
0,173.0,3.0,1.0,3.0,62.0,94.8,184.5,27.8,128.0,124.0,...,1.0,5.0,10.0,2.0,NaN,NaN,1.0,6.0,30.0,NaN
1,265.0,12.0,1.0,3.0,53.0,90.4,171.4,30.8,146.0,140.0,...,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,NaN
2,229.0,10.0,1.0,3.0,78.0,83.4,170.1,28.8,138.0,132.0,...,1.0,4.0,240.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN
3,174.0,2.0,2.0,3.0,56.0,109.8,160.9,42.4,132.0,134.0,...,1.0,5.0,90.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN
4,204.0,10.0,2.0,4.0,42.0,55.2,164.9,20.3,100.0,114.0,...,1.0,7.0,480.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN