In [1]:
import numpy as np
import pandas as pd

# Importing Data

## Cholesterol data
Reading in cholesterol data for 2017-2018

In [2]:
df = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/TCHOL_J.XPT')

In [3]:
df.head()

      SEQN  LBXTC  LBDTCSI
0  93705.0  157.0     4.06
1  93706.0  148.0     3.83
2  93707.0  189.0     4.89
3  93708.0  209.0     5.40
4  93709.0  176.0     4.55

SEQN is the particpant sequence number.  This will be used to join tables.  LBTXC is our taget variable, total cholesterol measured in mg/dL.  LBDTCSI is total cholecterol measured in mmol/L.

Dropping LBDTSCI then dropping any rows with null values as both values are needed.

In [4]:
df.drop('LBDTCSI',axis=1,inplace=True)
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6738 entries, 0 to 7434
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SEQN    6738 non-null   float64
 1   LBXTC   6738 non-null   float64
dtypes: float64(2)
memory usage: 157.9 KB

With less than 7000 observations we may want to gather data from the previos year, especially since we are planning to use nueral networks.  For now, continue importing the data.

## Demographic data

In [5]:
demo = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DEMO_J.XPT')

In [6]:
columns = ['SEQN','RIAGENDR','RIDAGEYR','RIDRETH3']
df = df.merge(demo[columns],on='SEQN',how='left')
df.head()

      SEQN  LBXTC  RIAGENDR  RIDAGEYR  RIDRETH3
0  93705.0  157.0       2.0      66.0       4.0
1  93706.0  148.0       1.0      18.0       6.0
2  93707.0  189.0       1.0      13.0       7.0
3  93708.0  209.0       2.0      66.0       6.0
4  93709.0  176.0       2.0      75.0       4.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6738 entries, 0 to 6737
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      6738 non-null   float64
 1   LBXTC     6738 non-null   float64
 2   RIAGENDR  6738 non-null   float64
 3   RIDAGEYR  6738 non-null   float64
 4   RIDRETH3  6738 non-null   float64
dtypes: float64(5)
memory usage: 315.8 KB

Since we want those age 20 and over, filtering age before adding more.

In [8]:
df = df[df.RIDAGEYR>=20].copy()

## Body Mass Index

In [9]:
body_df = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/BMX_J.XPT')

In [10]:
columns = ['SEQN','BMXBMI']
df = df.merge(body_df[columns],on='SEQN',how='left')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4937 entries, 0 to 4936
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      4937 non-null   float64
 1   LBXTC     4937 non-null   float64
 2   RIAGENDR  4937 non-null   float64
 3   RIDAGEYR  4937 non-null   float64
 4   RIDRETH3  4937 non-null   float64
 5   BMXBMI    4860 non-null   float64
dtypes: float64(6)
memory usage: 270.0 KB

In [11]:
df.head()

      SEQN  LBXTC  RIAGENDR  RIDAGEYR  RIDRETH3  BMXBMI
0  93705.0  157.0       2.0      66.0       4.0    31.7
1  93708.0  209.0       2.0      66.0       6.0    23.7
2  93709.0  176.0       2.0      75.0       4.0    38.9
3  93711.0  238.0       1.0      56.0       6.0    21.3
4  93713.0  184.0       1.0      67.0       3.0    23.5

## Blood pressure and pulse information

In [12]:
bp = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/BPX_J.XPT')
columns = ['SEQN','BPXPLS','BPXPULS','BPXSY1','BPXDI1','BPXSY2','BPXDI2', 'BPXSY3','BPXDI3']
df = df.merge(bp[columns],on='SEQN',how='left')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4937 entries, 0 to 4936
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      4937 non-null   float64
 1   LBXTC     4937 non-null   float64
 2   RIAGENDR  4937 non-null   float64
 3   RIDAGEYR  4937 non-null   float64
 4   RIDRETH3  4937 non-null   float64
 5   BMXBMI    4860 non-null   float64
 6   BPXPLS    4719 non-null   float64
 7   BPXPULS   4719 non-null   float64
 8   BPXSY1    4380 non-null   float64
 9   BPXDI1    4380 non-null   float64
 10  BPXSY2    4597 non-null   float64
 11  BPXDI2    4597 non-null   float64
 12  BPXSY3    4588 non-null   float64
 13  BPXDI3    4588 non-null   float64
dtypes: float64(14)
memory usage: 578.6 KB

In [13]:
df.head()

,SEQN,LBXTC,RIAGENDR,RIDAGEYR,RIDRETH3,BMXBMI,BPXPLS,BPXPULS,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BPXSY3,BPXDI3
0,93705.0,157.0,2.0,66.0,4.0,31.7,52.0,1.0,NaN,NaN,NaN,NaN,202.0,62.0
1,93708.0,209.0,2.0,66.0,6.0,23.7,68.0,1.0,NaN,NaN,138.0,78.0,144.0,76.0
2,93709.0,176.0,2.0,75.0,4.0,38.9,74.0,1.0,120.0,66.0,118.0,66.0,118.0,68.0
3,93711.0,238.0,1.0,56.0,6.0,21.3,62.0,1.0,108.0,68.0,94.0,68.0,102.0,64.0
4,93713.0,184.0,1.0,67.0,3.0,23.5,90.0,1.0,104.0,70.0,104.0,74.0,106.0,72.0


I'll have to think about later how I want to handle the three blood pressure measurements.  Do I want the average? And how to handle the missing (take the average of the ones you have?)

still need  nutrition, exercise, smoking and drinking, chronic conditions.
Note, need to examine nutrition info as it may have multiple rows for 1 single person.

## Nutrition

In [15]:
nutrition_1 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DR1TOT_J.XPT')
nutrition_1.head()

c:\users\anned\appdata\local\programs\python\python39\lib\site-packages\pandas\io\sas\sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
0,93703.0,5.397605e-79,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,93704.0,8.171401e+04,8.244287e+04,1.0,49.0,2.0,2.0,7.0,2.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
2,93705.0,7.185561e+03,5.640391e+03,1.0,73.0,2.0,2.0,5.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,93706.0,6.463883e+03,5.397605e-79,1.0,86.0,2.0,1.0,NaN,6.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
4,93707.0,1.533378e+04,2.270707e+04,1.0,81.0,2.0,2.0,14.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
nutrition_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8704 entries, 0 to 8703
Columns: 168 entries, SEQN to DRD370V
dtypes: float64(168)
memory usage: 11.2 MB

In [18]:
nutrition_1.SEQN.nunique()

8704

In [19]:
nutrition_2 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DR2TOT_J.XPT')
nutrition_2.head()

,SEQN,WTDRD1,WTDR2D,DR2DRSTZ,DR2EXMER,DRABF,DRDINT,DR2DBIH,DR2DAY,DR2LANG,...,DR2TP184,DR2TP204,DR2TP205,DR2TP225,DR2TP226,DR2_300,DR2_320Z,DR2_330Z,DR2BWATZ,DR2TWSZ
0,93703.0,5.397605e-79,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,93704.0,8.171401e+04,8.244287e+04,1.0,87.0,2.0,2.0,18.0,6.0,1.0,...,0.003,0.041,5.397605e-79,0.002,0.010,2.0,5.397605e-79,5.397605e-79,5.397605e-79,91.0
2,93705.0,7.185561e+03,5.640391e+03,1.0,91.0,2.0,2.0,15.0,4.0,1.0,...,0.001,0.201,2.000000e-03,0.011,0.059,2.0,9.600000e+02,5.397605e-79,9.600000e+02,1.0
3,93706.0,6.463883e+03,5.397605e-79,5.0,NaN,2.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,93707.0,1.533378e+04,2.270707e+04,1.0,78.0,2.0,2.0,22.0,3.0,1.0,...,0.001,0.327,4.000000e-03,0.025,0.061,3.0,1.020000e+03,7.800000e+02,2.400000e+02,99.0

In [20]:
nutrition_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8704 entries, 0 to 8703
Data columns (total 85 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      8704 non-null   float64
 1   WTDRD1    8704 non-null   float64
 2   WTDR2D    7641 non-null   float64
 3   DR2DRSTZ  8704 non-null   float64
 4   DR2EXMER  6714 non-null   float64
 5   DRABF     7641 non-null   float64
 6   DRDINT    7641 non-null   float64
 7   DR2DBIH   6499 non-null   float64
 8   DR2DAY    6714 non-null   float64
 9   DR2LANG   6722 non-null   float64
 10  DR2MRESP  6639 non-null   float64
 11  DR2HELP   6639 non-null   float64
 12  DR2TNUMF  6639 non-null   float64
 13  DR2STY    6714 non-null   float64
 14  DR2SKY    1045 non-null   float64
 15  DR2TKCAL  6502 non-null   float64
 16  DR2TPROT  6502 non-null   float64
 17  DR2TCARB  6502 non-null   float64
 18  DR2TSUGR  6502 non-null   float64
 19  DR2TFIBE  6502 non-null   float64
 20  DR2TTFAT  6502 non-null   float64
 21  DR2TSFAT  6502 non-null   float64
 22  DR2TMFAT  6502 non-null   float64
 23  DR2TPFAT  6502 non-null   float64
 24  DR2TCHOL  6502 non-null   float64
 25  DR2TATOC  6502 non-null   float64
 26  DR2TATOA  6502 non-null   float64
 27  DR2TRET   6502 non-null   float64
 28  DR2TVARA  6502 non-null   float64
 29  DR2TACAR  6502 non-null   float64
 30  DR2TBCAR  6502 non-null   float64
 31  DR2TCRYP  6502 non-null   float64
 32  DR2TLYCO  6502 non-null   float64
 33  DR2TLZ    6502 non-null   float64
 34  DR2TVB1   6502 non-null   float64
 35  DR2TVB2   6502 non-null   float64
 36  DR2TNIAC  6502 non-null   float64
 37  DR2TVB6   6502 non-null   float64
 38  DR2TFOLA  6502 non-null   float64
 39  DR2TFA    6502 non-null   float64
 40  DR2TFF    6502 non-null   float64
 41  DR2TFDFE  6502 non-null   float64
 42  DR2TCHL   6502 non-null   float64
 43  DR2TVB12  6502 non-null   float64
 44  DR2TB12A  6502 non-null   float64
 45  DR2TVC    6502 non-null   float64
 46  DR2TVD    6502 non-null   float64
 47  DR2TVK    6502 non-null   float64
 48  DR2TCALC  6502 non-null   float64
 49  DR2TPHOS  6502 non-null   float64
 50  DR2TMAGN  6502 non-null   float64
 51  DR2TIRON  6502 non-null   float64
 52  DR2TZINC  6502 non-null   float64
 53  DR2TCOPP  6502 non-null   float64
 54  DR2TSODI  6502 non-null   float64
 55  DR2TPOTA  6502 non-null   float64
 56  DR2TSELE  6502 non-null   float64
 57  DR2TCAFF  6502 non-null   float64
 58  DR2TTHEO  6502 non-null   float64
 59  DR2TALCO  6502 non-null   float64
 60  DR2TMOIS  6502 non-null   float64
 61  DR2TS040  6502 non-null   float64
 62  DR2TS060  6502 non-null   float64
 63  DR2TS080  6502 non-null   float64
 64  DR2TS100  6502 non-null   float64
 65  DR2TS120  6502 non-null   float64
 66  DR2TS140  6502 non-null   float64
 67  DR2TS160  6502 non-null   float64
 68  DR2TS180  6502 non-null   float64
 69  DR2TM161  6502 non-null   float64
 70  DR2TM181  6502 non-null   float64
 71  DR2TM201  6502 non-null   float64
 72  DR2TM221  6502 non-null   float64
 73  DR2TP182  6502 non-null   float64
 74  DR2TP183  6502 non-null   float64
 75  DR2TP184  6502 non-null   float64
 76  DR2TP204  6502 non-null   float64
 77  DR2TP205  6502 non-null   float64
 78  DR2TP225  6502 non-null   float64
 79  DR2TP226  6502 non-null   float64
 80  DR2_300   6714 non-null   float64
 81  DR2_320Z  6639 non-null   float64
 82  DR2_330Z  6639 non-null   float64
 83  DR2BWATZ  6639 non-null   float64
 84  DR2TWSZ   6714 non-null   float64
dtypes: float64(85)
memory usage: 5.6 MB

In [21]:
nutrition_2.SEQN.nunique()

8704

need to go through nutrition data file and see what the variable names are.  Also need to go through the website that says what nutrition info is listed on a label.  Do this next, then can go on to chronic conditions.  Remember also want survey data about cholesterol and high blood pressure, not just others.

Need to finish

## Alcohol use

In [ ]:
alc = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/ALQ_J.XPT')
columns = ['SEQN','ALQ121']
df = df.merge(alc[columns],on='SEQN',how='left')