In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Importing Data

## Cholesterol data
Reading in cholesterol data for 2017-2018

In [2]:
df = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/TCHOL_J.XPT')

In [3]:
df.head()

      SEQN  LBXTC  LBDTCSI
0  93705.0  157.0     4.06
1  93706.0  148.0     3.83
2  93707.0  189.0     4.89
3  93708.0  209.0     5.40
4  93709.0  176.0     4.55

SEQN is the particpant sequence number.  This will be used to join tables.  LBTXC is our taget variable, total cholesterol measured in mg/dL.  LBDTCSI is total cholecterol measured in mmol/L.

Dropping LBDTSCI then dropping any rows with null values as both values are needed.

In [4]:
df.drop('LBDTCSI',axis=1,inplace=True)
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6738 entries, 0 to 7434
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SEQN    6738 non-null   float64
 1   LBXTC   6738 non-null   float64
dtypes: float64(2)
memory usage: 157.9 KB

With less than 7000 observations we may want to gather data from the previos year, especially since we are planning to use nueral networks.  For now, continue importing the data.

## Demographic data

In [ ]:
demo = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DEMO_J.XPT')