In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../Data/df_processed.csv')
df.head()

,Unnamed: 0,LBXTC,RIAGENDR,RIDRETH3,RIDAGEYR,BMXWT,BMXHT,BMXBMI,BPXPLS,BPXPULS,...,PAD615,PAQ625,PAD630,PAQ655,PAD660,PAQ670,PAD675,KIQ022,Systolic,Diastolic
0,1,265.0,1.0,3.0,53.0,90.4,171.4,30.8,72.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,140.000000,86.000000
1,2,229.0,1.0,3.0,78.0,83.4,170.1,28.8,56.0,1.0,...,0.0,4.0,240.0,0.0,0.0,0.0,0.0,NaN,135.333333,45.333333
2,4,204.0,2.0,4.0,42.0,55.2,164.9,20.3,76.0,1.0,...,0.0,7.0,480.0,0.0,0.0,0.0,0.0,NaN,104.000000,60.000000
3,5,190.0,2.0,1.0,72.0,64.4,150.0,28.6,64.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,119.333333,58.666667
4,7,164.0,1.0,4.0,22.0,76.6,165.4,28.0,66.0,1.0,...,0.0,0.0,0.0,2.0,60.0,0.0,0.0,NaN,111.333333,72.666667

In [3]:
df.columns

Index(['Unnamed: 0', 'LBXTC', 'RIAGENDR', 'RIDRETH3', 'RIDAGEYR', 'BMXWT',
       'BMXHT', 'BMXBMI', 'BPXPLS', 'BPXPULS', 'DR1TKCAL', 'DR1TPROT',
       'DR1TCARB', 'DR1TSUGR', 'DR1TFIBE', 'DR1TTFAT', 'DR1TSFAT', 'DR1TMFAT',
       'DR1TPFAT', 'DR1TCHOL', 'DR1TSODI', 'DR1TVD', 'DR1TCALC', 'DR1TIRON',
       'DR1TPOTA', 'DR1_300', 'ALQ120Q', 'ALQ120U', 'ALQ130', 'BPQ020',
       'BPQ050A', 'BPQ080', 'BPQ100D', 'DIQ010', 'MCQ170M', 'SMQ681', 'PAQ610',
       'PAD615', 'PAQ625', 'PAD630', 'PAQ655', 'PAD660', 'PAQ670', 'PAD675',
       'KIQ022', 'Systolic', 'Diastolic'],
      dtype='object')

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [14]:
null_rows = (100*df.isnull().sum(axis=1)/df.shape[1]).sort_values(ascending=False)
null_rows[null_rows > 25].index

Int64Index([ 743,  535,  895,   37,  379,  141,  982, 2092,   65, 1248,
            ...
            4840, 4257, 3265, 4727, 4692, 2581, 4524, 3044, 3206, 1230],
           dtype='int64', length=345)

In [16]:
df.drop(null_rows[null_rows>25].index,axis=0,inplace=True)

In [18]:
null_cols = (100*df.isnull().sum(axis=0)/df.shape[0]).sort_values(ascending=False)
null_cols[null_cols>25]

KIQ022    49.098325
dtype: float64

As the variable regarding Kidney conditions is the only variable with more than a quarter of the data missing, that will be dropped.

note to self - go back through the docs and see if the result of a prior question skips over this

In [19]:
df.drop('KIQ022',axis=1,inplace=True)