In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../Data/df_processed.csv')
df.head()

,Unnamed: 0,LBXTC,RIAGENDR,RIDRETH3,RIDAGEYR,BMXWT,BMXHT,BMXBMI,BPXPLS,BPXPULS,...,PAD615,PAQ625,PAD630,PAQ655,PAD660,PAQ670,PAD675,KIQ022,Systolic,Diastolic
0,1,265.0,1.0,3.0,53.0,90.4,171.4,30.8,72.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,140.000000,86.000000
1,2,229.0,1.0,3.0,78.0,83.4,170.1,28.8,56.0,1.0,...,0.0,4.0,240.0,0.0,0.0,0.0,0.0,NaN,135.333333,45.333333
2,4,204.0,2.0,4.0,42.0,55.2,164.9,20.3,76.0,1.0,...,0.0,7.0,480.0,0.0,0.0,0.0,0.0,NaN,104.000000,60.000000
3,5,190.0,2.0,1.0,72.0,64.4,150.0,28.6,64.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,119.333333,58.666667
4,7,164.0,1.0,4.0,22.0,76.6,165.4,28.0,66.0,1.0,...,0.0,0.0,0.0,2.0,60.0,0.0,0.0,NaN,111.333333,72.666667

In [3]:
df.columns

Index(['Unnamed: 0', 'LBXTC', 'RIAGENDR', 'RIDRETH3', 'RIDAGEYR', 'BMXWT',
       'BMXHT', 'BMXBMI', 'BPXPLS', 'BPXPULS', 'DR1TKCAL', 'DR1TPROT',
       'DR1TCARB', 'DR1TSUGR', 'DR1TFIBE', 'DR1TTFAT', 'DR1TSFAT', 'DR1TMFAT',
       'DR1TPFAT', 'DR1TCHOL', 'DR1TSODI', 'DR1TVD', 'DR1TCALC', 'DR1TIRON',
       'DR1TPOTA', 'DR1_300', 'ALQ120Q', 'ALQ120U', 'ALQ130', 'BPQ020',
       'BPQ050A', 'BPQ080', 'BPQ100D', 'DIQ010', 'MCQ170M', 'SMQ681', 'PAQ610',
       'PAD615', 'PAQ625', 'PAD630', 'PAQ655', 'PAD660', 'PAQ670', 'PAD675',
       'KIQ022', 'Systolic', 'Diastolic'],
      dtype='object')

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
null_rows = (100*df.isnull().sum(axis=1)/df.shape[1]).sort_values(ascending=False)
null_rows[null_rows > 25].index

Int64Index([ 743,  535,  895,   37,  379,  141,  982, 2092,   65, 1248,
            ...
            4840, 4257, 3265, 4727, 4692, 2581, 4524, 3044, 3206, 1230],
           dtype='int64', length=345)

In [6]:
df.drop(null_rows[null_rows>25].index,axis=0,inplace=True)

In [7]:
null_cols = (100*df.isnull().sum(axis=0)/df.shape[0]).sort_values(ascending=False)
null_cols[null_cols>25]

KIQ022    49.098325
dtype: float64

As the variable regarding Kidney conditions is the only variable with more than a quarter of the data missing, that will be dropped.

note to self - go back through the docs and see if the result of a prior question skips over this

In [8]:
df.drop('KIQ022',axis=1,inplace=True)

## Looking for erroneous data

In [9]:
df.columns

Index(['LBXTC', 'RIAGENDR', 'RIDRETH3', 'RIDAGEYR', 'BMXWT', 'BMXHT', 'BMXBMI',
       'BPXPLS', 'BPXPULS', 'DR1TKCAL', 'DR1TPROT', 'DR1TCARB', 'DR1TSUGR',
       'DR1TFIBE', 'DR1TTFAT', 'DR1TSFAT', 'DR1TMFAT', 'DR1TPFAT', 'DR1TCHOL',
       'DR1TSODI', 'DR1TVD', 'DR1TCALC', 'DR1TIRON', 'DR1TPOTA', 'DR1_300',
       'ALQ120Q', 'ALQ120U', 'ALQ130', 'BPQ020', 'BPQ050A', 'BPQ080',
       'BPQ100D', 'DIQ010', 'MCQ170M', 'SMQ681', 'PAQ610', 'PAD615', 'PAQ625',
       'PAD630', 'PAQ655', 'PAD660', 'PAQ670', 'PAD675', 'Systolic',
       'Diastolic'],
      dtype='object')

In [10]:
df.LBXTC.describe()

count    4658.000000
mean      189.365608
std        41.900601
min        69.000000
25%       160.000000
50%       186.000000
75%       213.000000
max       612.000000
Name: LBXTC, dtype: float64

Although the max is large, there doesn't appear to be an errors.  I'll have to figure out what I want to do with outliers.

In [11]:
df.RIAGENDR.unique()

array([1., 2.])

In [12]:
df.RIDRETH3.unique()

array([3., 4., 1., 7., 2., 6.])

In [13]:
df.RIDAGEYR.describe()

count    4658.000000
mean       49.384714
std        17.424684
min        20.000000
25%        34.250000
50%        49.000000
75%        63.000000
max        80.000000
Name: RIDAGEYR, dtype: float64

In [14]:
df.BMXWT.describe()

count    4635.000000
mean       82.320820
std        22.088128
min        32.300000
25%        66.800000
50%        78.900000
75%        93.850000
max       198.900000
Name: BMXWT, dtype: float64

In [15]:
df.BMXHT.describe()

count    4633.000000
mean      167.099426
std         9.986096
min       137.600000
25%       159.800000
50%       166.800000
75%       174.300000
max       202.700000
Name: BMXHT, dtype: float64

In [16]:
df.BMXBMI.describe()

count    4627.000000
mean       29.398617
std         7.164954
min        14.500000
25%        24.300000
50%        28.200000
75%        33.000000
max        70.100000
Name: BMXBMI, dtype: float64

In [17]:
df.BPXPLS.describe()

count    4581.000000
mean       71.765990
std        11.594054
min        36.000000
25%        64.000000
50%        70.000000
75%        78.000000
max       160.000000
Name: BPXPLS, dtype: float64

In [18]:
df.BPXPULS.unique()

array([ 1.,  2., nan])

In [19]:
df.DR1TKCAL.describe()

count     4658.000000
mean      2091.592744
std        986.841250
min        117.000000
25%       1435.000000
50%       1935.500000
75%       2555.750000
max      12108.000000
Name: DR1TKCAL, dtype: float64

In [20]:
df.DR1TPROT.describe()

count    4.658000e+03
mean     8.192210e+01
std      4.403831e+01
min      5.397605e-79
25%      5.233250e+01
50%      7.386500e+01
75%      1.013775e+02
max      5.131000e+02
Name: DR1TPROT, dtype: float64

For protein amount, a value of 5.397e-79 seems to be a mistake.  I'm replacing all values less than 1 with 0

In [21]:
df.loc[df.DR1TPROT<1,'DR1TPROT']=0
df.DR1TPROT.describe()

count    4658.000000
mean       81.922102
std        44.038307
min         0.000000
25%        52.332500
50%        73.865000
75%       101.377500
max       513.100000
Name: DR1TPROT, dtype: float64

In [22]:
df.DR1TCARB.describe()

count    4658.000000
mean      247.133828
std       123.387580
min         8.670000
25%       162.582500
50%       227.485000
75%       308.275000
max      1423.870000
Name: DR1TCARB, dtype: float64

In [23]:
df.DR1TSUGR.describe()

count    4658.000000
mean      105.321627
std        74.766506
min         0.130000
25%        55.112500
50%        90.615000
75%       138.465000
max      1115.500000
Name: DR1TSUGR, dtype: float64

In [24]:
df.DR1TFIBE.describe()

count    4.658000e+03
mean     1.687106e+01
std      1.082425e+01
min      5.397605e-79
25%      9.500000e+00
50%      1.450000e+01
75%      2.160000e+01
max      1.363000e+02
Name: DR1TFIBE, dtype: float64

Again, extremely small min values

In [25]:
sum(df.DR1TFIBE<1)

17

This time there appears to be more small values, taking a look at these

In [26]:
df[df.DR1TFIBE<1]['DR1TFIBE']

261     3.000000e-01
359     7.000000e-01
737     4.000000e-01
835     7.000000e-01
963     5.397605e-79
1406    1.000000e-01
1952    4.000000e-01
2483    8.000000e-01
2490    5.000000e-01
2890    5.397605e-79
3168    2.000000e-01
3316    4.000000e-01
3584    8.000000e-01
3724    5.397605e-79
3979    5.397605e-79
4053    3.000000e-01
4853    4.000000e-01
Name: DR1TFIBE, dtype: float64

Values of 0.2 may be reasonable, but anything less than 0.01 is probably an error.

In [27]:
df[df.DR1TFIBE<0.05]['DR1TFIBE']

963     5.397605e-79
2890    5.397605e-79
3724    5.397605e-79
3979    5.397605e-79
Name: DR1TFIBE, dtype: float64

In [28]:
df.loc[df.DR1TFIBE<0.05,'DR1TFIBE']=0

In [29]:
df.DR1TFIBE.describe()

count    4658.000000
mean       16.871061
std        10.824250
min         0.000000
25%         9.500000
50%        14.500000
75%        21.600000
max       136.300000
Name: DR1TFIBE, dtype: float64

In [31]:
df.DR1TTFAT.describe()

count    4.658000e+03
mean     8.172349e+01
std      4.746392e+01
min      5.397605e-79
25%      4.997000e+01
50%      7.378500e+01
75%      1.030075e+02
max      5.483800e+02
Name: DR1TTFAT, dtype: float64

Again very small values that may be errors

In [32]:
df[df.DR1TTFAT<0.1]['DR1TTFAT']

3979    5.397605e-79
Name: DR1TTFAT, dtype: float64

In [33]:
df.loc[df.DR1TTFAT<0.1,'DR1TTFAT']=0
df.DR1TTFAT.describe()

count    4658.000000
mean       81.723486
std        47.463920
min         0.000000
25%        49.970000
50%        73.785000
75%       103.007500
max       548.380000
Name: DR1TTFAT, dtype: float64

In [34]:
df.DR1TSFAT.describe()

count    4.658000e+03
mean     2.621632e+01
std      1.654159e+01
min      5.397605e-79
25%      1.497900e+01
50%      2.292800e+01
75%      3.379300e+01
max      1.774670e+02
Name: DR1TSFAT, dtype: float64

For the rest of the nutrient information, I'm going to go through the values and anything less than 0.01 I'm replacing with 0

In [37]:
for x in ['DR1TSFAT','DR1TMFAT', 'DR1TPFAT', 'DR1TCHOL','DR1TSODI', 'DR1TVD', 'DR1TCALC', 'DR1TIRON', 'DR1TPOTA']:
    df.loc[df[x]<0.01,x]=0

In [38]:
df.DR1TSFAT.describe()

count    4658.000000
mean       26.216316
std        16.541587
min         0.000000
25%        14.979000
50%        22.928000
75%        33.793000
max       177.467000
Name: DR1TSFAT, dtype: float64

In [39]:
df.DR1TMFAT.describe()

count    4658.000000
mean       28.809978
std        17.783049
min         0.000000
25%        16.993000
50%        25.572000
75%        36.558000
max       221.673000
Name: DR1TMFAT, dtype: float64

In [40]:
df.DR1TPFAT.describe()

count    4658.000000
mean       19.096201
std        13.221963
min         0.000000
25%        10.207000
50%        16.409000
75%        24.555250
max       182.462000
Name: DR1TPFAT, dtype: float64

In [41]:
df.DR1TCHOL.describe()

count    4658.000000
mean      300.318592
std       239.314287
min         0.000000
25%       134.000000
50%       232.500000
75%       408.000000
max      2352.000000
Name: DR1TCHOL, dtype: float64

In [42]:
df.DR1TSODI.describe()

count     4658.000000
mean      3504.799699
std       1846.270129
min         29.000000
25%       2249.250000
50%       3175.500000
75%       4354.000000
max      21399.000000
Name: DR1TSODI, dtype: float64

In [43]:
df.DR1TVD.describe()

count    4658.000000
mean        4.512774
std         6.117031
min         0.000000
25%         1.000000
50%         2.800000
75%         5.700000
max        78.100000
Name: DR1TVD, dtype: float64

In [44]:
df.DR1TCALC.describe()

count    4658.000000
mean      905.994418
std       583.691597
min        18.000000
25%       502.250000
50%       787.000000
75%      1152.000000
max      7337.000000
Name: DR1TCALC, dtype: float64

In [45]:
df.DR1TIRON.describe()

count    4658.000000
mean       13.845676
std         8.008605
min         0.050000
25%         8.400000
50%        12.140000
75%        17.617500
max        89.550000
Name: DR1TIRON, dtype: float64

In [46]:
df.DR1TPOTA.describe()

count     4658.000000
mean      2554.786818
std       1217.403526
min         68.000000
25%       1695.250000
50%       2384.000000
75%       3218.750000
max      14072.000000
Name: DR1TPOTA, dtype: float64

In [47]:
df.DR1_300.unique()
# I do need to adjust for those with values of 9, don't know

array([2., 1., 3., 9.])

In [48]:
df.loc[df.DR1_300==9,'DR1_300']=np.nan

In [49]:
df.ALQ120Q.describe()

count    4.456000e+03
mean     2.847172e+00
std      1.246271e+01
min      0.000000e+00
25%      5.397605e-79
50%      1.000000e+00
75%      3.000000e+00
max      3.650000e+02
Name: ALQ120Q, dtype: float64

Again there are many with very small values, replacing them with 0s

In [50]:
df.loc[df.ALQ120Q<0.01,'ALQ120Q']=0
df.ALQ120Q.describe()

count    4456.000000
mean        2.847172
std        12.462711
min         0.000000
25%         0.000000
50%         1.000000
75%         3.000000
max       365.000000
Name: ALQ120Q, dtype: float64

In [51]:
df.ALQ120U.unique()

array([ 1., nan,  3.,  2.])

In [52]:
df.ALQ130.describe()

count    3700.00000
mean        2.20000
std         2.40943
min         0.00000
25%         1.00000
50%         2.00000
75%         3.00000
max        25.00000
Name: ALQ130, dtype: float64

Since the min is 0, checking to see if there are any less than 0.01 but greater than 0...

In [54]:
df[(df.ALQ130>0)&(df.ALQ130<0.01)].shape

(0, 45)

Apparently not

In [56]:
df.BPQ020.unique()

array([ 2.,  1., nan])

In [57]:
df.BPQ050A.unique()

array([ 2.,  1., nan,  9.])

In [58]:
# I thought I took care of this, need to look at my code
df.loc[df.BPQ050A==9,'BPQ050A']=np.nan
# ok, from my code I did not change this, will need to fix that later.

In [59]:
df.columns[-20:]

Index(['ALQ120Q', 'ALQ120U', 'ALQ130', 'BPQ020', 'BPQ050A', 'BPQ080',
       'BPQ100D', 'DIQ010', 'MCQ170M', 'SMQ681', 'PAQ610', 'PAD615', 'PAQ625',
       'PAD630', 'PAQ655', 'PAD660', 'PAQ670', 'PAD675', 'Systolic',
       'Diastolic'],
      dtype='object')

In [60]:
df.BPQ080.unique()

array([ 2.,  1., nan])

In [62]:
df.BPQ100D.unique()

array([ 2.,  1., nan,  9.])

In [63]:
df.loc[df.BPQ100D==9,'BPQ100D']=np.nan

In [64]:
df.DIQ010.unique()

array([ 2.,  1.,  3., nan])

In [65]:
df.MCQ170M.unique()

array([ 2.,  1., nan])

In [66]:
df.SMQ681.unique()

array([ 1.,  2., nan])

In [67]:
df.PAQ610.unique()

array([ 0.,  1.,  3.,  2.,  5.,  7.,  4.,  6., nan])

In [68]:
df.PAD615.describe()

count    4644.000000
mean       37.182386
std        99.961609
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       840.000000
Name: PAD615, dtype: float64

In [71]:
#checking for those with really small values
df[(df.PAD615>0)&(df.PAD615<0.01)].shape

(0, 45)

In [69]:
df.PAQ625.unique()

array([ 0.,  4.,  7.,  2.,  3.,  5.,  6.,  1., nan])

In [70]:
df.PAD630.describe()

count    4642.000000
mean       58.912107
std       115.500455
min         0.000000
25%         0.000000
50%         0.000000
75%        60.000000
max       990.000000
Name: PAD630, dtype: float64

In [72]:
#checking for those with really small values
df[(df.PAD630>0)&(df.PAD630<0.01)].shape

(0, 45)

In [73]:
df.PAQ655.unique()

array([ 0.,  2.,  6.,  5.,  3.,  1.,  4.,  7., nan])

In [74]:
df.PAD660.describe()

count    4654.000000
mean       17.461753
std        42.799350
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       480.000000
Name: PAD660, dtype: float64

In [75]:
#checking for those with really small values
df[(df.PAD660>0)&(df.PAD660<0.01)].shape

(0, 45)

In [76]:
df.PAQ670.unique()

array([ 0.,  4.,  5.,  2.,  7.,  1.,  3.,  6., nan])

In [77]:
df.PAD675.describe()

count    4652.000000
mean       25.812984
std        48.430493
min         0.000000
25%         0.000000
50%         0.000000
75%        30.000000
max       600.000000
Name: PAD675, dtype: float64

In [78]:
#checking for those with really small values
df[(df.PAD675>0)&(df.PAD675<0.01)].shape

(0, 45)

In [79]:
df.Systolic.describe()

count    4580.000000
mean      124.016157
std        18.258561
min        64.666667
25%       111.333333
50%       120.666667
75%       134.000000
max       228.666667
Name: Systolic, dtype: float64

In [80]:
df.Diastolic.describe()

count    4.580000e+03
mean     6.877052e+01
std      1.270026e+01
min      5.397605e-79
25%      6.200000e+01
50%      6.933333e+01
75%      7.600000e+01
max      1.280000e+02
Name: Diastolic, dtype: float64

Again there looks to be some error.  For those with very small diastolic readings, they will be dropped

In [82]:
df.Diastolic.sort_values()

2423    5.397605e-79
1951    5.397605e-79
4824    5.397605e-79
4408    5.397605e-79
2709    5.397605e-79
            ...
4867             NaN
4875             NaN
4909             NaN
4920             NaN
4984             NaN
Name: Diastolic, Length: 4658, dtype: float64

In [81]:
df[df.Diastolic<1].index

Int64Index([ 674, 1353, 1361, 1402, 1793, 1951, 2423, 2709, 3741, 3856, 3868,
            4408, 4819, 4824],
           dtype='int64')

In [83]:
df.drop(df[df.Diastolic<1].index,axis=0,inplace=True)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4644 entries, 0 to 5002
Data columns (total 45 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LBXTC      4644 non-null   float64
 1   RIAGENDR   4644 non-null   float64
 2   RIDRETH3   4644 non-null   float64
 3   RIDAGEYR   4644 non-null   float64
 4   BMXWT      4622 non-null   float64
 5   BMXHT      4619 non-null   float64
 6   BMXBMI     4614 non-null   float64
 7   BPXPLS     4567 non-null   float64
 8   BPXPULS    4568 non-null   float64
 9   DR1TKCAL   4644 non-null   float64
 10  DR1TPROT   4644 non-null   float64
 11  DR1TCARB   4644 non-null   float64
 12  DR1TSUGR   4644 non-null   float64
 13  DR1TFIBE   4644 non-null   float64
 14  DR1TTFAT   4644 non-null   float64
 15  DR1TSFAT   4644 non-null   float64
 16  DR1TMFAT   4644 non-null   float64
 17  DR1TPFAT   4644 non-null   float64
 18  DR1TCHOL   4644 non-null   float64
 19  DR1TSODI   4644 non-null   float64
 20  DR1TVD     4644 non-null   float64
 21  DR1TCALC   4644 non-null   float64
 22  DR1TIRON   4644 non-null   float64
 23  DR1TPOTA   4644 non-null   float64
 24  DR1_300    4624 non-null   float64
 25  ALQ120Q    4442 non-null   float64
 26  ALQ120U    3692 non-null   float64
 27  ALQ130     3691 non-null   float64
 28  BPQ020     4639 non-null   float64
 29  BPQ050A    4637 non-null   float64
 30  BPQ080     4612 non-null   float64
 31  BPQ100D    4619 non-null   float64
 32  DIQ010     4643 non-null   float64
 33  MCQ170M    4617 non-null   float64
 34  SMQ681     4445 non-null   float64
 35  PAQ610     4640 non-null   float64
 36  PAD615     4630 non-null   float64
 37  PAQ625     4639 non-null   float64
 38  PAD630     4628 non-null   float64
 39  PAQ655     4643 non-null   float64
 40  PAD660     4640 non-null   float64
 41  PAQ670     4641 non-null   float64
 42  PAD675     4638 non-null   float64
 43  Systolic   4566 non-null   float64
 44  Diastolic  4566 non-null   float64
dtypes: float64(45)
memory usage: 1.6 MB

## now looking for observations that are persistant outliers

In [95]:
outliers = {}
for column in df.columns:
    description = df[column].describe()
    q1 = description['25%']
    q3 = description['75%']
    iqr15 = 3*(q3-q1)
    indices = df[(df[column]<q1-iqr15)|(df[column]>q3+iqr15)].index
    for x in indices:
        outliers[x]=outliers.get(x,0)+1

In [96]:
outliers

{1061: 3,
 1194: 6,
 3931: 2,
 4099: 3,
 4199: 3,
 482: 2,
 690: 4,
 1033: 2,
 1702: 2,
 2256: 4,
 2373: 3,
 3345: 4,
 3451: 5,
 3555: 2,
 4293: 2,
 4365: 4,
 4980: 3,
 1466: 1,
 2025: 3,
 2348: 2,
 3351: 3,
 3618: 4,
 4211: 2,
 4660: 1,
 358: 4,
 937: 3,
 1563: 1,
 2997: 4,
 4100: 3,
 4210: 6,
 16: 1,
 45: 1,
 128: 3,
 361: 3,
 458: 2,
 460: 5,
 462: 5,
 478: 1,
 483: 2,
 486: 2,
 508: 2,
 596: 2,
 698: 5,
 769: 2,
 800: 4,
 817: 1,
 866: 2,
 946: 4,
 958: 1,
 966: 1,
 1023: 3,
 1047: 4,
 1059: 4,
 1089: 1,
 1121: 2,
 1154: 3,
 1169: 3,
 1177: 3,
 1192: 1,
 1275: 4,
 1281: 3,
 1326: 3,
 1335: 2,
 1368: 2,
 1422: 1,
 1497: 4,
 1516: 4,
 1532: 4,
 1535: 3,
 1560: 4,
 1591: 3,
 1661: 3,
 1711: 2,
 1730: 5,
 1736: 3,
 1757: 2,
 1770: 3,
 1827: 2,
 1920: 2,
 1928: 5,
 1941: 2,
 1950: 1,
 2033: 5,
 2124: 2,
 2162: 3,
 2201: 7,
 2265: 2,
 2274: 8,
 2292: 1,
 2334: 4,
 2362: 4,
 2383: 5,
 2402: 3,
 2422: 2,
 2430: 1,
 2431: 1,
 2455: 1,
 2458: 3,
 2535: 4,
 2540: 2,
 2556: 1,
 2671: 3,
 2700: 4,
 2752: 3,
 2806: 2,
 2822: 3,
 2832: 4,
 2859: 2,
 2938: 3,
 3026: 1,
 3069: 1,
 3079: 3,
 3146: 1,
 3233: 3,
 3441: 2,
 3458: 4,
 3487: 2,
 3515: 3,
 3699: 3,
 3721: 5,
 3760: 3,
 3771: 1,
 3823: 6,
 3863: 6,
 3885: 1,
 3890: 3,
 3987: 2,
 4175: 1,
 4288: 1,
 4380: 2,
 4387: 1,
 4395: 3,
 4439: 1,
 4454: 2,
 4620: 2,
 4642: 1,
 4676: 4,
 4801: 2,
 4812: 3,
 4871: 4,
 4960: 2,
 15: 9,
 108: 5,
 146: 5,
 292: 5,
 548: 11,
 582: 9,
 859: 5,
 920: 12,
 1050: 9,
 1808: 11,
 1990: 9,
 2143: 9,
 2341: 6,
 2542: 10,
 2971: 17,
 3036: 4,
 3191: 10,
 3300: 11,
 3483: 6,
 3499: 8,
 3545: 12,
 3577: 2,
 3730: 9,
 4186: 8,
 4320: 10,
 4359: 11,
 4374: 11,
 4376: 12,
 4460: 4,
 4528: 4,
 4607: 11,
 4847: 6,
 4861: 9,
 4937: 5,
 139: 8,
 237: 2,
 515: 2,
 951: 6,
 2365: 3,
 2374: 4,
 2934: 7,
 3139: 8,
 3343: 4,
 3502: 4,
 3598: 4,
 3930: 6,
 4093: 5,
 4678: 6,
 4773: 3,
 1721: 4,
 2648: 4,
 2783: 1,
 3048: 7,
 3959: 5,
 4094: 6,
 58: 5,
 1883: 2,
 2138: 4,
 2536: 3,
 3060: 4,
 3063: 3,
 3594: 5,
 3679: 5,
 3924: 3,
 3940: 2,
 3956: 4,
 4136: 2,
 4208: 2,
 4685: 8,
 4749: 5,
 4984: 5,
 4986: 4,
 271: 1,
 287: 2,
 994: 1,
 1064: 1,
 1383: 6,
 1761: 6,
 1895: 5,
 2002: 3,
 2079: 1,
 2321: 2,
 2426: 1,
 2528: 1,
 2614: 3,
 2619: 4,
 2676: 4,
 3176: 3,
 3408: 4,
 3864: 4,
 3881: 4,
 754: 4,
 1216: 10,
 1626: 5,
 2815: 5,
 3219: 5,
 4806: 6,
 164: 8,
 813: 3,
 976: 6,
 1144: 2,
 2605: 2,
 2777: 8,
 3334: 5,
 4624: 2,
 894: 1,
 1694: 7,
 1970: 4,
 2252: 1,
 2394: 5,
 3912: 6,
 4018: 4,
 80: 3,
 342: 2,
 629: 2,
 823: 2,
 1110: 3,
 3220: 2,
 3268: 4,
 3436: 5,
 4121: 3,
 4235: 1,
 4611: 3,
 28: 3,
 155: 5,
 667: 1,
 669: 2,
 1109: 3,
 1360: 3,
 1623: 3,
 2057: 1,
 2204: 3,
 2643: 5,
 2682: 2,
 2893: 3,
 3142: 2,
 3612: 3,
 3654: 4,
 3715: 3,
 3718: 6,
 4244: 2,
 1965: 4,
 2970: 2,
 3193: 1,
 3743: 3,
 4393: 3,
 4570: 2,
 4631: 3,
 4897: 3,
 11: 5,
 77: 4,
 103: 6,
 115: 2,
 137: 1,
 314: 4,
 355: 3,
 518: 3,
 534: 4,
 693: 1,
 713: 5,
 834: 3,
 911: 1,
 925: 4,
 941: 2,
 971: 1,
 995: 3,
 1049: 4,
 1073: 1,
 1119: 2,
 1184: 1,
 1263: 3,
 1333: 3,
 1369: 3,
 1373: 1,
 1406: 2,
 1550: 4,
 1597: 4,
 1714: 2,
 1805: 3,
 1878: 2,
 1974: 4,
 2050: 2,
 2064: 3,
 2134: 3,
 2251: 3,
 2287: 2,
 2293: 3,
 2417: 2,
 2433: 2,
 2450: 4,
 2479: 2,
 2510: 3,
 2522: 6,
 2552: 1,
 2565: 4,
 2571: 2,
 2607: 3,
 2639: 5,
 2704: 1,
 2722: 4,
 2805: 5,
 2810: 3,
 2894: 1,
 2916: 2,
 2932: 1,
 3007: 4,
 3014: 2,
 3015: 3,
 3022: 5,
 3059: 4,
 3119: 5,
 3179: 1,
 3187: 2,
 3194: 1,
 3195: 2,
 3203: 2,
 3239: 2,
 3282: 2,
 3376: 6,
 3380: 5,
 3382: 6,
 3462: 4,
 3601: 4,
 3611: 4,
 3624: 1,
 3660: 3,
 3698: 2,
 3774: 3,
 3831: 3,
 3928: 4,
 3946: 1,
 3992: 4,
 4015: 3,
 4081: 3,
 4268: 5,
 4281: 4,
 4309: 5,
 4371: 1,
 4372: 7,
 4402: 4,
 4416: 2,
 4426: 2,
 4646: 4,
 4668: 5,
 4686: 3,
 4733: 1,
 4734: 6,
 4756: 3,
 4854: 4,
 4875: 1,
 4895: 4,
 4936: 4,
 4956: 3,
 4973: 3,
 4995: 3,
 140: 6,
 1067: 4,
 1162: 7,
 2039: 2,
 2703: 4,
 3517: 3,
 3782: 2,
 4559: 5,
 5002: 3,
 62: 1,
 169: 4,
 637: 2,
 747: 3,
 886: 7,
 1273: 5,
 1610: 3,
 2621: 5,
 2937: 3,
 3375: 3,
 3505: 3,
 3739: 3,
 3769: 1,
 3817: 3,
 4002: 5,
 4797: 2,
 389: 3,
 1: 2,
 2: 3,
 22: 1,
 29: 3,
 30: 4,
 31: 1,
 32: 1,
 34: 3,
 40: 1,
 48: 1,
 60: 6,
 64: 4,
 67: 6,
 68: 2,
 73: 2,
 76: 2,
 79: 1,
 82: 1,
 87: 1,
 88: 4,
 91: 3,
 98: 3,
 101: 2,
 117: 1,
 122: 3,
 124: 3,
 129: 1,
 134: 1,
 136: 6,
 143: 2,
 147: 4,
 151: 1,
 159: 4,
 167: 1,
 185: 6,
 194: 2,
 195: 2,
 199: 3,
 202: 2,
 203: 1,
 208: 4,
 210: 3,
 214: 2,
 221: 3,
 230: 2,
 244: 5,
 246: 3,
 248: 1,
 261: 2,
 268: 3,
 269: 4,
 270: 3,
 273: 6,
 276: 4,
 279: 1,
 280: 3,
 291: 2,
 294: 2,
 295: 3,
 300: 2,
 305: 5,
 306: 5,
 313: 3,
 315: 2,
 316: 3,
 318: 1,
 319: 4,
 325: 4,
 326: 2,
 331: 2,
 341: 1,
 353: 5,
 357: 3,
 360: 4,
 362: 2,
 364: 1,
 366: 2,
 368: 5,
 369: 2,
 374: 3,
 375: 3,
 381: 1,
 383: 1,
 386: 1,
 390: 3,
 391: 4,
 394: 3,
 403: 1,
 405: 2,
 406: 3,
 407: 7,
 409: 4,
 412: 1,
 413: 3,
 414: 1,
 420: 3,
 422: 1,
 423: 4,
 430: 4,
 439: 1,
 442: 1,
 444: 3,
 449: 1,
 450: 3,
 452: 1,
 453: 3,
 461: 3,
 464: 1,
 476: 2,
 477: 2,
 484: 2,
 487: 2,
 493: 1,
 497: 1,
 505: 3,
 510: 3,
 511: 2,
 521: 3,
 522: 4,
 526: 1,
 532: 3,
 538: 2,
 544: 3,
 545: 5,
 546: 7,
 550: 4,
 560: 4,
 563: 2,
 567: 3,
 568: 4,
 571: 1,
 579: 2,
 581: 3,
 583: 2,
 584: 1,
 586: 4,
 587: 2,
 592: 1,
 598: 1,
 603: 1,
 611: 3,
 612: 2,
 613: 3,
 624: 2,
 630: 1,
 633: 1,
 641: 4,
 643: 2,
 651: 2,
 657: 2,
 663: 2,
 676: 1,
 683: 1,
 691: 5,
 692: 2,
 695: 2,
 697: 1,
 699: 1,
 727: 1,
 729: 5,
 730: 3,
 733: 1,
 734: 3,
 736: 4,
 737: 1,
 745: 2,
 752: 7,
 757: 1,
 758: 3,
 774: 1,
 779: 1,
 781: 2,
 789: 3,
 797: 3,
 801: 1,
 803: 3,
 808: 2,
 815: 2,
 818: 4,
 830: 2,
 832: 1,
 835: 1,
 836: 2,
 837: 1,
 843: 5,
 851: 4,
 855: 4,
 858: 1,
 862: 1,
 865: 1,
 869: 4,
 912: 3,
 916: 1,
 923: 3,
 924: 1,
 926: 2,
 929: 4,
 935: 6,
 939: 8,
 940: 6,
 954: 3,
 956: 2,
 960: 3,
 962: 4,
 963: 2,
 964: 4,
 965: 2,
 967: 3,
 973: 7,
 981: 3,
 986: 1,
 989: 4,
 990: 2,
 991: 3,
 992: 3,
 993: 3,
 996: 1,
 997: 5,
 998: 2,
 1003: 1,
 1009: 5,
 1011: 1,
 1012: 4,
 1016: 2,
 1017: 3,
 1019: 2,
 1020: 4,
 1028: 5,
 1029: 4,
 1034: 4,
 1039: 2,
 1041: 1,
 1042: 4,
 1044: 3,
 1045: 3,
 1046: 1,
 1058: 2,
 1065: 4,
 1069: 3,
 1075: 3,
 1078: 2,
 1079: 1,
 1082: 1,
 1085: 1,
 1092: 1,
 1100: 1,
 1102: 3,
 1104: 3,
 1106: 2,
 1118: 3,
 1130: 3,
 1131: 1,
 1132: 3,
 1134: 5,
 1135: 4,
 1137: 2,
 1150: 6,
 1156: 4,
 1157: 2,
 1159: 2,
 1174: 1,
 1176: 5,
 1182: 3,
 1183: 3,
 1187: 3,
 1188: 2,
 1189: 1,
 1196: 1,
 1212: 6,
 1220: 1,
 1221: 3,
 1231: 3,
 1238: 3,
 1239: 3,
 1241: 2,
 1251: 2,
 1253: 2,
 1256: 1,
 1257: 2,
 1262: 2,
 1265: 1,
 1270: 1,
 1278: 3,
 1282: 3,
 1289: 1,
 1293: 1,
 1304: 3,
 1319: 2,
 1327: 1,
 1329: 1,
 1330: 1,
 1331: 9,
 1332: 4,
 1337: 1,
 1339: 4,
 1342: 3,
 1346: 2,
 1348: 3,
 1352: 7,
 1354: 3,
 1355: 1,
 1365: 4,
 1367: 4,
 1370: 6,
 1371: 4,
 1374: 3,
 1377: 4,
 1378: 3,
 1381: 3,
 1391: 2,
 1392: 1,
 1399: 4,
 1400: 8,
 1405: 5,
 1413: 3,
 1418: 2,
 1427: 2,
 1430: 4,
 1434: 6,
 1435: 5,
 1437: 1,
 1438: 1,
 1442: 4,
 1445: 3,
 1457: 1,
 1460: 4,
 1465: 5,
 1475: 2,
 1479: 4,
 1481: 1,
 1485: 1,
 1490: 3,
 1501: 1,
 1503: 3,
 1505: 5,
 1517: 3,
 1519: 2,
 1528: 1,
 1538: 1,
 1539: 5,
 1540: 2,
 1541: 8,
 1545: 1,
 1549: 1,
 1552: 1,
 1554: 2,
 1557: 2,
 1559: 4,
 1564: 3,
 1565: 1,
 1576: 1,
 1577: 2,
 1579: 4,
 1594: 2,
 1596: 1,
 1608: 5,
 1611: 4,
 1615: 6,
 1617: 4,
 1618: 2,
 1622: 1,
 1627: 5,
 1629: 1,
 1632: 6,
 1633: 1,
 1635: 1,
 1641: 3,
 1643: 2,
 1647: 2,
 1648: 6,
 1651: 4,
 1652: 3,
 1660: 7,
 1664: 3,
 1665: 1,
 1667: 3,
 1670: 3,
 1671: 3,
 1673: 2,
 1675: 3,
 1679: 1,
 1686: 3,
 1695: 5,
 1701: 6,
 1712: 2,
 1716: 2,
 1718: 3,
 1722: 3,
 1725: 1,
 1727: 5,
 1729: 4,
 1731: 4,
 1734: 4,
 1737: 4,
 1740: 3,
 1741: 4,
 1743: 3,
 1746: 4,
 1749: 3,
 1750: 3,
 1753: 2,
 1754: 3,
 1756: 1,
 1758: 2,
 1765: 4,
 1768: 2,
 1775: 1,
 1780: 2,
 1785: 4,
 1789: 3,
 1796: 2,
 1800: 5,
 1801: 3,
 1803: 4,
 1804: 3,
 1809: 1,
 1811: 4,
 1812: 1,
 1813: 4,
 1816: 3,
 1823: 3,
 1828: 5,
 1831: 1,
 1836: 1,
 1842: 1,
 1848: 4,
 1851: 3,
 1853: 1,
 1855: 1,
 1859: 4,
 1860: 3,
 1862: 5,
 1863: 2,
 1879: 2,
 1881: 3,
 1888: 2,
 1889: 1,
 1890: 2,
 1896: 7,
 1898: 2,
 1899: 1,
 1916: 2,
 1917: 3,
 1918: 2,
 1921: 3,
 1924: 1,
 1931: 2,
 1934: 1,
 1935: 5,
 1944: 2,
 1952: 3,
 1954: 2,
 1955: 5,
 1963: 2,
 1964: 4,
 1967: 3,
 1973: 1,
 1977: 2,
 1981: 1,
 1992: 1,
 1993: 4,
 1998: 2,
 2000: 1,
 2008: 7,
 2016: 1,
 2019: 1,
 2021: 3,
 2022: 5,
 2024: 2,
 2026: 1,
 2029: 3,
 2031: 1,
 2034: 1,
 2043: 6,
 2046: 2,
 2051: 3,
 2052: 5,
 2054: 1,
 2067: 4,
 2078: 1,
 2088: 2,
 2097: 3,
 2100: 1,
 2101: 3,
 2102: 3,
 2104: 1,
 2106: 7,
 2108: 3,
 2111: 3,
 2112: 5,
 2114: 2,
 2125: 8,
 2126: 5,
 2128: 4,
 2130: 1,
 2133: 1,
 2136: 1,
 2139: 3,
 2141: 4,
 2147: 5,
 2150: 3,
 2154: 5,
 2160: 3,
 2164: 2,
 2165: 3,
 2167: 2,
 2173: 3,
 2177: 2,
 2180: 3,
 2181: 1,
 2182: 2,
 2186: 2,
 2189: 2,
 2190: 1,
 2197: 5,
 2205: 2,
 2206: 5,
 2224: 4,
 2229: 3,
 2237: 3,
 2238: 3,
 2240: 4,
 2242: 5,
 2254: 5,
 2255: 2,
 2261: 4,
 2272: 2,
 2275: 4,
 2281: 3,
 2282: 6,
 2284: 3,
 2286: 1,
 2290: 2,
 2297: 7,
 2298: 1,
 2301: 3,
 2302: 1,
 2305: 1,
 2309: 3,
 2311: 1,
 2313: 1,
 2323: 4,
 2329: 3,
 2336: 4,
 2338: 1,
 2350: 3,
 2351: 4,
 2354: 2,
 2360: 1,
 2361: 1,
 2368: 1,
 2376: 4,
 2377: 1,
 2385: 3,
 2391: 3,
 2392: 2,
 2407: 4,
 2410: 5,
 2412: 6,
 2427: 3,
 2440: 2,
 2444: 1,
 2445: 3,
 2446: 2,
 2447: 3,
 2473: 3,
 2474: 5,
 2475: 7,
 2482: 3,
 2484: 1,
 2485: 3,
 2491: 1,
 2494: 2,
 2495: 1,
 2496: 3,
 2497: 1,
 2499: 3,
 2500: 2,
 ...}

In [97]:
outlier_df=pd.DataFrame({'index':outliers.keys(),'count':outliers.values()})

In [98]:
outlier_df.sort_values(by='count',ascending=False)

      index  count
155    2971     17
148     920     12
168    4376     12
161    3545     12
171    4607     11
...     ...    ...
2836   2089      1
2835   2087      1
1693   1200      1
2831   2069      1
3813   4354      1

[3814 rows x 2 columns]

In [99]:
df.shape

(4644, 45)

As there are 45 columns, those that are outliers for more than 11 (25%) values should be dropped.

In [103]:
df.drop(list(outlier_df[outlier_df['count']>11]['index']),axis=0,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4640 entries, 0 to 5002
Data columns (total 45 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LBXTC      4640 non-null   float64
 1   RIAGENDR   4640 non-null   float64
 2   RIDRETH3   4640 non-null   float64
 3   RIDAGEYR   4640 non-null   float64
 4   BMXWT      4618 non-null   float64
 5   BMXHT      4615 non-null   float64
 6   BMXBMI     4610 non-null   float64
 7   BPXPLS     4563 non-null   float64
 8   BPXPULS    4564 non-null   float64
 9   DR1TKCAL   4640 non-null   float64
 10  DR1TPROT   4640 non-null   float64
 11  DR1TCARB   4640 non-null   float64
 12  DR1TSUGR   4640 non-null   float64
 13  DR1TFIBE   4640 non-null   float64
 14  DR1TTFAT   4640 non-null   float64
 15  DR1TSFAT   4640 non-null   float64
 16  DR1TMFAT   4640 non-null   float64
 17  DR1TPFAT   4640 non-null   float64
 18  DR1TCHOL   4640 non-null   float64
 19  DR1TSODI   4640 non-null   float64
 20  DR1TVD     4640 non-null   float64
 21  DR1TCALC   4640 non-null   float64
 22  DR1TIRON   4640 non-null   float64
 23  DR1TPOTA   4640 non-null   float64
 24  DR1_300    4620 non-null   float64
 25  ALQ120Q    4438 non-null   float64
 26  ALQ120U    3688 non-null   float64
 27  ALQ130     3687 non-null   float64
 28  BPQ020     4635 non-null   float64
 29  BPQ050A    4633 non-null   float64
 30  BPQ080     4609 non-null   float64
 31  BPQ100D    4616 non-null   float64
 32  DIQ010     4639 non-null   float64
 33  MCQ170M    4613 non-null   float64
 34  SMQ681     4441 non-null   float64
 35  PAQ610     4636 non-null   float64
 36  PAD615     4626 non-null   float64
 37  PAQ625     4635 non-null   float64
 38  PAD630     4624 non-null   float64
 39  PAQ655     4639 non-null   float64
 40  PAD660     4636 non-null   float64
 41  PAQ670     4637 non-null   float64
 42  PAD675     4634 non-null   float64
 43  Systolic   4562 non-null   float64
 44  Diastolic  4562 non-null   float64
dtypes: float64(45)
memory usage: 1.6 MB

In [104]:
#writing the cleaned file so it can be used for modeling
df.to_csv('../Data/df_cleaned.csv')