In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, FunctionTransformer
from sklearn.decomposition import PCA
from feature_engine.outliers import Winsorizer
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [2]:
df_missing = pd.read_csv('../Data/df_transformed.csv')
df_missing.drop('Unnamed: 0',axis=1,inplace=True)
df_imputed = pd.read_csv('../Data/dfi_transformed.csv')
df_imputed.drop('Unnamed: 0',axis=1,inplace=True)

In [3]:
Models = {
}

In [4]:
def model(number,return_model=False, return_xy=False):
    global Models,df_missing,df_imputed
    info = {}
    info['number']=number
    imputed = False
    num_variables=['RIDAGEYR','BPXPLS','Systolic','Diastolic']
    cat_variables =['RIAGENDR','RIDRETH3']
    info['imputed']=1
    if number % 2 == 0: # use imputed values (remember to drop na before train test split)
        df = df_missing
        info['imputed']=0
    else:
        df = df_imputed
        imputed = True
        cat_variables.extend(['BPXPLS_i','Systolic_i','Diastolic_i'])
    number = (number - number%2)//2
    info['drop outliers']=0    
    if number%2==1: # drop outliers
        info['drop outliers']=1
        df = df[df.outlier==0].copy()
    number = (number - number%2)//2
    info['limit y range']=0       
    if number % 2 == 1: # reduce y range
        info['limit y range']=1
        number -= 1
        df = df[(df.LBXTC>=100)&(df.LBXTC<400)].copy()
    number = number//2
    info['bmi only']=1    
    if number % 2 == 1: # use height and weight
        info['bmi only']=0
        number = number - 1
        num_variables.extend([ 'BMXWT', 'BMXHT'])
        if imputed:
            cat_variables.extend(['BMXWT_i', 'BMXHT_i'])
    else:        
        num_variables.append('BMXBMI')
        if imputed:
            cat_variables.append('BMXBMI_i')
    number = number//2
    info['include pulse irregularity']=0 
    if number%2==1: # include irregular pulse
        info['include pulse irregularity']=1
        number -= 1
        cat_variables.append('BPXPULS')
        if imputed:
            cat_variables.append('BPXPULS_i')
    number = number//2
    info['include chronic conditions']=0    
    if number % 2 == 1: # include chronic conditions
        number -= 1
        info['include chronic conditions']=1
        cat_variables.extend(['BPQ020', 'BPQ050A', 'BPQ080','BPQ100D', 'DIQ010', 'MCQ170M'])
        if imputed:
            cat_variables.extend(['BPQ020_i', 'BPQ050A_i', 'BPQ080_i', 'BPQ100D_i', 'DIQ010_i','MCQ170M_i'])
    number = number//2
    info['use transformed physical activity']=0    
    if number % 2 == 1: # use transformed physical activity
        number -= 1
        info['use transformed physical activity']=1
        num_variables.append('MET_rec')
        if imputed:
            cat_variables.append('MET_rec_i')
    else:
        num_variables.extend(['PAQ655','PAD660','PAQ670','PAD675'])
        if imputed:
            cat_variables.extend(['PAQ655_i','PAD660_i','PAQ670_i','PAD675_i'])
    number = number // 2
    info['include nutrients']=0
    info['nutrient variable type']=np.nan   
    if number%2 == 0: # don't include nutrients
        number = (number - number%6)//6
    else:
        info['include nutrients']=1
        number = (number-1)//2
        if number % 3 == 0: # include original nutrients
            num_variables.extend(['DR1TKCAL', 'DR1TPROT', 'DR1TCARB', 'DR1TSUGR',
       'DR1TFIBE', 'DR1TTFAT', 'DR1TSFAT', 'DR1TMFAT', 'DR1TPFAT', 'DR1TCHOL',
       'DR1TSODI', 'DR1TVD', 'DR1TCALC', 'DR1TIRON', 'DR1TPOTA'])
            cat_variables.append('DR1_300')
            if imputed:
                cat_variables.append('DR1_300_i')
            info['nutrient variable type']='original'
        elif number % 3 == 1: # include transformed nutrients
            info['nutrient variable type']='transformed'
            num_variables.extend(['DR1TKCAL_t',
       'DR1TPROT_t', 'DR1TCARB_t', 'DR1TSUGR_t', 'DR1TFIBE_t', 'DR1TTFAT_t',
       'DR1TSFAT_t', 'DR1TMFAT_t', 'DR1TPFAT_t', 'DR1TCHOL_t', 'DR1TSODI_t',
       'DR1TVD_t', 'DR1TCALC_t', 'DR1TIRON_t', 'DR1TPOTA_t'])
            if imputed:
                cat_variables.append('DR1_300_i')
        else: # include both
            info['nutrient variable type']='both'
            num_variables.extend(['DR1TKCAL', 'DR1TPROT', 'DR1TCARB', 'DR1TSUGR',
       'DR1TFIBE', 'DR1TTFAT', 'DR1TSFAT', 'DR1TMFAT', 'DR1TPFAT', 'DR1TCHOL',
       'DR1TSODI', 'DR1TVD', 'DR1TCALC', 'DR1TIRON', 'DR1TPOTA','DR1TKCAL_t',
       'DR1TPROT_t', 'DR1TCARB_t', 'DR1TSUGR_t', 'DR1TFIBE_t', 'DR1TTFAT_t',
       'DR1TSFAT_t', 'DR1TMFAT_t', 'DR1TPFAT_t', 'DR1TCHOL_t', 'DR1TSODI_t',
       'DR1TVD_t', 'DR1TCALC_t', 'DR1TIRON_t', 'DR1TPOTA_t'])
            if imputed:
                cat_variables.append('DR1_300_i')
        number = (number - number%3)//3
    info['include alcohol and tobacco']=0
    info['alcohol variable type']=np.nan    
    if number % 2 == 0: # don't include alcohol and tobacco
        number = (number - number % 6)//6
    else: # include alcohol and tobacco
        number = (number - 1)//2
        # add tobacco here
        info['include alcohol and tobacco']=1
        cat_variables.append('SMQ681')
        if imputed:
            cat_variables.append('SMQ681_i')
        if number % 3 == 0: # include original alcohol quantities
            info['alcohol variable type']='original'
            num_variables.extend([ 'ALQ120Q','ALQ130'])
            cat_variables.append('ALQ120U')
            if imputed:
                cat_variables.extend(['ALQ120Q_i', 'ALQ120U_i', 'ALQ130_i'])
        elif number % 3 == 1: # include transformed alcohol quantities
            info['alcohol variable type']='transformed'
            num_variables.append('avgALC')
            if imputed:
                cat_variables.append('avgALC_i')
        else: # include both
            info['alcohol variable type']='both'
            num_variables.extend([ 'ALQ120Q','ALQ130','avgALC'])
            cat_variables.append('ALQ120U')
            if imputed:
                cat_variables.extend(['ALQ120Q_i', 'ALQ120U_i', 'ALQ130_i','avgALC_i'])
        number = (number-number%3)//3
    df = df[num_variables+cat_variables+['LBXTC','log_LBXTC']].copy()
    df.dropna(inplace=True)
    y = df.LBXTC
    info['log transform y']=0
    if number % 2 == 1: # use log transformed y
        info['log transform y']=1
        number -= 1
        y = df.log_LBXTC
    number = number//2
    X = df[num_variables+cat_variables].copy()
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=675, test_size=0.2)
    numeric_transformer = Pipeline(steps=[('scalar',StandardScaler())])
    numeric_transformer.steps.pop(0)
    info['Winsorize x']=0
    if number % 2 == 1: # Winsorize x
        info['Winsorize x']=1
        numeric_transformer.steps.insert(0,('winsorizor',Winsorizer()))
        number -= 1
    number = number//2
    info['log transform numeric variables']=0
    if number % 2 == 1: # log transform x
        info['log transform numeric variables']=1
        number -= 1
        numeric_transformer.steps.insert(0,('log transform x',FunctionTransformer(np.log1p)))
    number = number // 2
    info['scale features']=0
    if number%2==1: # add a scaler
        number -= 1
        info['scale features']=1
        numeric_transformer.steps.append(('scalar',StandardScaler()))
    number = number//2
    preprocessor_used=0
    if len(numeric_transformer.steps)==0:
        gb1 = Pipeline(steps=[('gb', GradientBoostingRegressor())])     
    else:
        preproceesor_used = 1
        preprocessor = ColumnTransformer(transformers=[
            ('num',numeric_transformer,num_variables)], remainder='passthrough')
        gb1 = Pipeline(steps =[
            ('preprocessor',preprocessor),
            ('gb', GradientBoostingRegressor())])
    info['include PCA']=0
    if number % 2 == 1: # add PCA
        gb1.steps.insert(preprocessor_used,("pca",PCA(0.95)))
        info['include PCA']=1

    gb1.fit(X_train,y_train)

    r2 = gb1.score(X_train,y_train)
    info['r2']=r2
    k = gb1.named_steps['gb'].n_features_in_
    n = X_train.shape[0]
    ar2 = ((1-r2)/(n-1))/(n-k-1)
    info['adjusted r2']=ar2
    y_train_preds = gb1.predict(X_train)
    y_preds = gb1.predict(X_test)
    
    info['training MAE'] = mean_absolute_error(y_train,y_train_preds)
    info['testing MAE'] = mean_absolute_error(y_test,y_preds)
    info['training RMSE'] = mean_squared_error(y_train,y_train_preds,squared=False)
    info['testing RMSE'] = mean_squared_error(y_test,y_preds,squared=False)
    info['MAE percent difference'] = (info['testing MAE']-info['training MAE'])/info['training MAE']
    info['RMSE percent difference'] = (info['testing RMSE']-info['training RMSE'])/info['training RMSE']
    if return_model:
        if return_xy:
            return (gb1, X_train, X_test, y_train, y_train_preds,y_test,y_preds)
        return (gb1, info)
    for key in info.keys():
        if key not in Models:
            Models[key]=[]
        Models[key].append(info[key])

In [5]:
model_numbers = []
for i in range(20):
    n = np.random.randint(2*73728)
    while n in model_numbers:
        n = np.random.randint(2*73728)
    model_numbers.append(n)
    model(n)

models = pd.DataFrame(Models)
models.sort_values(by='adjusted r2',ascending=False)

,number,imputed,drop outliers,limit y range,bmi only,include pulse irregularity,include chronic conditions,use transformed physical activity,include nutrients,nutrient variable type,...,scale features,include PCA,r2,adjusted r2,training MAE,testing MAE,training RMSE,testing RMSE,MAE percent difference,RMSE percent difference
1,2562,0,1,0,1,0,0,0,0,NaN,...,0,0,0.252347,9.083308e-08,27.408122,30.452422,36.368950,38.817195,0.111073,0.067317
5,57954,0,1,0,1,0,1,1,0,NaN,...,1,0,0.339242,8.279765e-08,25.849108,27.725766,34.279531,35.730134,0.072600,0.042317
2,119664,0,0,0,1,1,1,1,0,NaN,...,1,1,0.369364,7.813406e-08,0.133522,0.156357,0.171089,0.203612,0.171018,0.190093
9,94946,0,1,0,1,0,1,1,1,transformed,...,0,1,0.382608,7.758163e-08,25.975716,29.297595,33.100315,38.105714,0.127884,0.151219
3,122746,0,1,0,0,1,1,1,0,NaN,...,1,1,0.384789,7.670811e-08,25.481945,28.794907,33.076969,37.074953,0.130012,0.120869
15,89959,1,1,1,1,0,1,1,0,NaN,...,0,1,0.100663,6.639094e-08,0.159499,0.171685,0.200212,0.214828,0.076402,0.073003
8,20062,0,1,1,0,1,0,1,0,NaN,...,0,0,0.219077,6.084688e-08,27.672944,30.790558,35.522654,38.645288,0.112659,0.087905
6,100106,0,1,0,0,0,0,0,0,NaN,...,0,1,0.209219,6.069638e-08,0.152831,0.166290,0.195771,0.209658,0.088066,0.070931
7,64333,1,0,1,0,0,0,1,0,NaN,...,1,0,0.225160,5.757733e-08,0.148096,0.157603,0.186389,0.199539,0.064196,0.070552
11,68703,1,1,1,0,1,0,1,0,NaN,...,1,0,0.230877,5.752866e-08,27.716797,29.811290,35.362494,37.526429,0.075568,0.061193
10,1758,0,1,1,0,1,0,1,1,original,...,0,0,0.272477,5.745441e-08,26.953286,30.644511,34.173991,38.888028,0.136949,0.137942
12,9694,0,1,1,0,1,0,1,1,transformed,...,0,0,0.281139,5.672229e-08,26.790672,30.444401,33.969940,38.583491,0.136381,0.135813
16,60352,0,0,0,1,0,0,1,1,transformed,...,1,0,0.278292,5.588992e-08,0.147324,0.161669,0.188185,0.202802,0.097375,0.077674
4,129691,1,1,0,0,1,0,0,1,both,...,1,1,0.246836,5.517989e-08,28.378003,31.026740,36.421731,40.650221,0.093338,0.116098
14,68509,1,0,1,0,1,0,0,1,original,...,1,0,0.272976,5.451759e-08,26.978812,29.848259,34.289384,38.280645,0.106359,0.116399
19,43481,1,0,0,0,1,0,1,1,transformed,...,1,0,0.264583,5.401315e-08,0.148382,0.162014,0.187903,0.211601,0.091875,0.126116
17,12576,0,0,0,1,0,1,0,0,NaN,...,0,0,0.317308,5.395914e-08,26.460955,28.552430,34.840069,36.603521,0.079040,0.050616
13,106813,1,0,1,0,1,1,0,0,NaN,...,0,1,0.294373,5.206289e-08,0.141688,0.156348,0.177870,0.197816,0.103469,0.112138
18,120109,1,0,1,0,0,1,0,0,NaN,...,1,1,0.317941,5.029665e-08,26.084828,29.599584,33.212111,38.305228,0.134743,0.153351
0,123253,1,0,1,1,1,1,1,0,NaN,...,1,1,0.320976,5.005920e-08,25.934463,28.574080,33.138130,36.871723,0.101780,0.112668